<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ExampleTestSuite">
    <test name="My First Selenium TestNG Test">
        <classes>
            <class name="com.selenium.test.FirstTest"/>
            <class name="com.selenium.test.SecondTest"/>
        </classes>
    </test>
</suite>